

.desc-labels
{
    -fx-text-fill: #4052af;
    -fx-font-size: 16;
}

.primary-button-1
{
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-color: #4052af;

}

.primary-button-1:hover
{
    -fx-background-color: #73c9cb;
    -fx-graphic-text-gap: 12;
    -icons-color: white;
}



/**************************************************/

.tree-table-view{
    -fx-tree-table-color: rgba(5, 43, 126, 0.8);
    -fx-tree-table-rippler-color : rgba(115, 201, 203, 0.9);
}


.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  ;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #e1e1e1;
    -fx-background-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #052b7e;
    -fx-font-size: 18;
    -fx-padding : 16 0 16 0 ;
    /*#949494*/
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{
    -fx-background-color : #052b7e;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color: #e1e1e1;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:0 0 0 0;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgb(115, 201, 203);
}

/* Uncomment to show even odd colors*/


.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected,
.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: white;
}

.tree-table-row-cell:empty {
    -fx-background-color: transparent;
}

.tree-table-row-cell:empty .tree-table-cell {
    -fx-border-width: 0px;
}

/****************************************/


.jfx-list-cell
{
    -fx-background-insets: 0.0;
    -fx-text-fill: #4052af;
    -fx-font-size: 18;
    -fx-padding: 20,20,20,20;
    -fx-alignment: center;
}

.jfx-list-cell .label
{
    -fx-text-fill: #4052af;
}

.jfx-list-cell:selected .label
{
    -fx-text-fill: white;
}

.jfx-list-cell:selected
{
    -fx-text-fill: white;

}

.jfx-list-cell:odd,
.jfx-list-cell:even {
    -fx-background-color: WHITE;
}


.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: white;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: #4052af;
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 18.0;
}


