
.desc-labels
{
    -fx-text-fill: #4052af;
    -fx-font-size: 16;
}

.header-label
{
    -fx-text-fill: #4052af;
    -fx-font-size: 20;
}

.header-label-large
{
    -fx-text-fill: #4052af;
    -fx-font-size: 34;
}

.primary-button-1
{
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-color: #4052af;

}

.primary-button-1:hover
{
    -fx-background-color: #73c9cb;
    -fx-graphic-text-gap: 12;
    -icons-color: white;
}


.primary-button-2
{
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-color: #747ee1;

}

.primary-button-2:hover
{
    -fx-background-color: #73c9cb;
}

.primary-button-3
{
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-color: #052b7e;

}

.primary-button-3:hover
{
    -fx-background-color: #73c9cb;
}


.button-labels
{
    -fx-font-size: 36;
    -fx-text-fill: #052b7e;
}

.jfx-text-field
{
    /*-fx-text-fill: black;*/

    -jfx-focus-color: #4052af;
    -jfx-unfocus-color: #bdbdbd;
    -fx-font-size: 16px;
    /*-fx-prompt-text-fill: white;*/
}

.header-text-field
{
    -fx-text-fill: black;

    -jfx-focus-color: #052b7e;
    -jfx-unfocus-color: black;
    -fx-font-size: 18px;
    -fx-prompt-text-fill: black;
}

.jfx-toggle-button
{
    /*-fx-text-fill: black;*/
    -fx-font-size: 16px;
    -jfx-toggle-color: #4052af;
    -jfx-toggle-line-color: #73c9cb;
}

.combo-box
{
    -jfx-focus-color: #4052af;
    -jfx-unfocus-color: #bdbdbd;
    -fx-font-size: 16px;
}


.combo-box-base .text{
    -fx-fill: black;
}

.combo-box .arrow-button .arrow
{
    -fx-background-color: #4052af;
}

.combo-box-popup .list-view .jfx-list-cell:even {
    -fx-background-color: #F5F5F5;
    -fx-alignment: center-left;
}

.combo-box-popup .list-view .jfx-list-cell:odd{
    -fx-background-color: #F5F5F5;
    -fx-alignment: center-left;
}




.combo-box-popup .list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.combo-box-popup .list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: #5197d5;
}


/**************************************************/

.tree-table-view{
    -fx-tree-table-color: rgba(5, 43, 126, 0.8);
    -fx-tree-table-rippler-color : rgba(115, 201, 203, 0.9);
}

.tree-table-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}


.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-row-cell:selected {
    -fx-selection-bar-non-focused: black;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #e1e1e1;
    -fx-background-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #052b7e;
    -fx-font-size: 18;
    -fx-padding : 16 0 16 0 ;
    /*#949494*/
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{
    -fx-background-color : #052b7e;
}


.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color: #e1e1e1;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:0 0 0 0;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgb(115, 201, 203);
}

/* Uncomment to show even odd colors*/


.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected,
.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:selected .tree-table-cell {
    -fx-background-color: #4052af;
    -fx-text-fill: white;
}

.tree-table-row-cell:empty {
    -fx-background-color: transparent;
}

.tree-table-row-cell:empty .tree-table-cell {
    -fx-border-width: 0px;
}

/****************************************************/

.jfx-date-picker {
    -jfx-default-color: #052b7e;
    -fx-text-inner-color: black;
    -fx-font-size: 20;
}

.jfx-date-picker > .jfx-text-field {

    -jfx-unfocus-color: #052b7e;
    -jfx-label-float: true;
    -fx-alignment: center;
}


.jfx-time-picker {
    -jfx-default-color: #052b7e;
    -fx-text-inner-color: black;
    -fx-font-size: 20;
}

.jfx-time-picker > .jfx-text-field {

    -jfx-unfocus-color: white;
    -fx-alignment: center;
}

/********************************************************/

.jfx-list-cell
{
    -fx-background-insets: 0.0;
    -fx-text-fill: #000000;
    -fx-font-size: 16;
    -fx-padding: 20,20,20,20;
    -fx-alignment: center;
}

.jfx-list-cell .label
{
    -fx-text-fill: #000000;
}

.jfx-list-cell:selected .label
{
    -fx-text-fill: white;
}

.jfx-list-cell:selected
{
    -fx-text-fill: white;

}

.jfx-list-cell:odd,
.jfx-list-cell:even {
    -fx-background-color: WHITE;
}


.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: white;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: #4052af;
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 18.0;
}

/**************************************************/

.jfx-tab-pane
{
    -fx-tab-max-height: 0;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #2b3d55;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #2b3d55;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: #dde5ee;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #7fdeff;
}

.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #7fdeff;
}



